{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <style>
        .navbar {
            border-right: 0;
        }

        .bg-info {
            font-size: 18px; /* 调整文字大小 */
            text-align: center; /* 文字居中显示 */
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">英语六级报考系统：{{ stuid }}考试</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a></a></li>
                <li><a></a></li>

                <li><a href="http://127.0.0.1:4537/stupage/{{ stuid }}/exam/">刷新</a></li>
                <li><a href="http://127.0.0.1:4537/stupage/?stuid={{ stuid }}">返回学生主页</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <br>
                <span>你好，考生{{ stuid }}！</span>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="timer"
     style="position: fixed; top: 20px; right: 20px; background-color: #f1f1f1; padding: 10px; border-radius: 15px;">
    考试剩余时间: <span id="countdown">{{ countdown }}</span>
</div>

<div class="container" style="width: 84%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="margin-bottom: 10px">试题</h3>
        </div>
        <div class="panel-body">
            {#                ！！！！！这里要加 method="post"#}
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {#                <div class="content-2">#}
                {#                    <!-- 这里是空白区域的内容 -->#}
                {#                </div>#}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="exam_title">试卷名字：exam1</label>

                </div>
                <div>
                    <p class="bg-info" style="">客观题</p>
                </div>
                {% for optQ in questions %}
                    <div class="form-group">
                        <label class="col-sm-1 control-label">客观题{{ forloop.counter}}:</label>
                        <div class="col-sm-11">
                            <p class="form-control-static">{{ optQ.content|safe }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">选项A：</label>
                        <div class="col-sm-11">
                            <p class="form-control-static">{{ optQ.options.0 }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">选项B：</label>
                        <div class="col-sm-11">
                            <p class="form-control-static">{{ optQ.options.1 }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">选项C：</label>
                        <div class="col-sm-11">
                            <p class="form-control-static">{{ optQ.options.2 }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择答案：</label>
                        <div class="col-sm-10">
                            <input type="radio" name="opt_answer{{ forloop.counter }}" value="A" required> A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="opt_answer{{ forloop.counter }}" value="B" required> B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="opt_answer{{ forloop.counter }}" value="C" required> C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <hr>
                {% endfor %}

                <div>
                    <p class="bg-info" style="">主观题</p>
                </div>
                {% for essQ in essay_questions %}
                    <div class="form-group">
                        <label class="col-sm-1 control-label">主观题{{ forloop.counter }}:</label>
                        <div class="col-sm-11">
                            <p class="form-control-static">{{ essQ.question_text|safe }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">考生答题:</label>
                        <div class="col-sm-10">
                            <textarea name="stu_essay_answer{{ forloop.counter }}"
                                      style="width: 800px; height: 70px;" required></textarea>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" value="finishExam">交卷</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{# js 要放在页面底部！！！#}
<script>
    var countdownElement = document.getElementById("countdown");
    if (countdownElement === null) {
        console.error("无法找到倒计时元素。");
    }
    // 设置倒计时时间为 150 分钟（转换为秒）
    var countdownTime = 150 * 60;
    function updateCountdown() {
        var minutes = Math.floor(countdownTime / 60);
        var seconds = countdownTime % 60;
        // 格式化时间为 MM 分钟 SS 秒
        var formattedTime = minutes.toString().padStart(2, '0') + " 分钟 " +
            seconds.toString().padStart(2, '0') + " 秒";
        // 更新倒计时元素的内容
        countdownElement.textContent = formattedTime;
        countdownTime--;
        if (countdownTime < 0) {
            clearInterval(countdownInterval); // 停止定时器
            countdownElement.textContent = "时间已结束";
        }
    }
    var countdownInterval = setInterval(updateCountdown, 1000);
    updateCountdown();
</script>

<script src="{% static 'js/code.jquery.com_jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</body>
</html>