{% load  static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student SignUp</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <style>
        .navbar {
            border-right: 0;
        }
        .content-1 {
        width: 80%; /* 空白区域的宽度 */
        margin: 0 auto; /* 水平居中 */
        padding-top: 158px; /* 上方留白的高度 */
    }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >英语六级报考系统：学生用户注册</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                {#          <li>#}
                {#              <form class="navbar-form navbar-left">#}
                {#        <div class="form-group">#}
                {#          <input type="text" class="form-control" placeholder="输入学生姓名">#}
                {#        </div>#}
                {#        <button type="submit" class="btn btn-default" >确定</button>#}
                {#      </form>#}
                {#          </li>#}
                <li><a href="http://127.0.0.1:8000/stusignup/">刷新</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <br>
                 <span style="color: orange;">O(∩_∩)O</span>
                {#        <li>#}
                {#            <a href="http://127.0.0.1:8000/teainfo/">教师信息管理</a>#}
                {#        </li>#}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{#<img src="{% static 'img/blank.png' %}" width="60%">#}
<div class="content-1">
{#    空白#}
</div>
<div>
    <div class="container" style="width: 44%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="margin-bottom: 15px">学生账号注册</h3>
            </div>
            <div class="panel-body">
                {#                ！！！！！这里要加 method="post"#}
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Name" name="studentname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Student ID" name="studentid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">专业</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Major" name="school">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="Password" name="pwd">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">

                            <button type="submit" class="btn btn-success">注册</button>

                            <span style="color: orange;">{{ ok_msg }}</span>
                        </div>


                        <div class="col-sm-offset-8 col-sm-10">

                            <a href="http://127.0.0.1:8000/login/">返回登录页面</a>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{#<h1> 添加学生</h1>#}
{#<form method="post" action="/stuinfo/add/">#}
{#    {% csrf_token %}#}
{#    <input type="text" name="studentname" placeholder="学生姓名">#}
{#    <input type="text" name="studentid" placeholder="学号">#}
{#    <input type="text" name="pwd" placeholder="密码">#}
{#    <input type="text" name="school" placeholder="专业">#}
{#    <input type="submit" value="确定">#}
{#</form>#}

{#<img src="{% static 'img/wallpaper02.png' %}" alt="" width="30%">#}

<script src="{% static 'js/code.jquery.com_jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>

</body>
</html>