{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Search</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <style>
        .navbar{
            border-right: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">英语六级学生信息管理：查找学生</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li>
              <form class="navbar-form navbar-left" action="http://127.0.0.1:8000/stuinfo/search/" method="get">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="输入学生姓名" name="searchname">
        </div>
        <button type="submit" class="btn btn-default" href="http://127.0.0.1:8000/stuinfo/search/">确定</button>
      </form>
          </li>
        <li><a href="http://127.0.0.1:8000/stuinfo/">返回原页面</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">你好，管理员！</a></li>
{#        <li>#}
{#            <a href="http://127.0.0.1:8000/teainfo/">教师信息管理</a>#}
{#        </li>#}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
    <div class="container">
        <div style="margin-bottom: 20px">
{#            <a class="btn btn-success" href="http://localhost:8000/stuinfo/add/">添加学生</a>#}
        </div>

        <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">已注册学生信息</div>
{#      <div class="panel-body">#}
{##}
{#        #}
{#        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>#}
{#      </div>#}

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>学生姓名</th>
            <th>学号</th>
              <th>专业</th>
            <th>登录密码</th>
            <th>得分</th>
              <th>操作</th>
          </tr>
        </thead>
        <tbody>

                <tr>
                <td>{{ searchobj.id }}</td>
                <td>{{ searchobj.stuname }}</td>
                <td>{{ searchobj.stuid }}</td>
                <td>{{ searchobj.stuschool }}</td>
                <td>{{ searchobj.password }}</td>
                <td>{{ searchobj.score}}</td>
                <td>
                  <a class="btn btn-primary btn-xs" href="http://127.0.0.1:8000/stuinfo/{{ searchobj.id }}/edit/" >编辑</a>

                  <a class="btn btn-danger btn-xs" href="http://127.0.0.1:8000/stuinfo/delete/?stuid={{ searchobj.id }}">删除</a>
              </td>
                </tr>


        </tbody>
      </table>
    </div>

</div>

    </div>
</div>

<script src="{% static 'js/code.jquery.com_jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>