{% load  static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Add</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
<h1 > 添加学生</h1>
<form method="post" action="/stuinfo/add/">
    {% csrf_token %}
    <input type="text" name="studentname" placeholder="学生姓名">
    <input type="text" name="studentid" placeholder="学号">
    <input type="text" name="pwd" placeholder="密码">
    <input type="text" name="school" placeholder="专业">
    <input type="submit" value="确定">
</form>

{#<img src="{% static 'img/wallpaper02.png' %}" alt="" width="30%">#}

<script src="{% static 'js/code.jquery.com_jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>

</body>
</html>