{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Score</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <style>
        .navbar {
            border-right: 0;
        }

        .cnotent-1 {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">英语六级报考系统：考试成绩查询</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>

                <li><a href="http://127.0.0.1:8000/stupage/{{ stuid }}/score/">刷新</a></li>
                <li><a href="http://127.0.0.1:8000/stupage/?stuid={{ stuid }}">返回主页</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">你好，学生用户{{ stuid }}！</a></li>
                {#        <li>#}
                {#            <a href="http://127.0.0.1:8000/teainfo/">教师信息管理</a>#}
                {#        </li>#}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" style="font-size: 20px;">总得分</label>
                <div class="col-sm-10">
                    <p class="form-control-static" style="font-size: 20px;">{{ all_score }}分</p>
                </div>
            </div>
        </form>
    </div>
    <div class="container" style="width: 70%;">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">考试得分详细信息</div>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>题号</th>
                    <th>题型</th>
                    <th>得分</th>
                    <th>总计</th>
                </tr>
                </thead>
                <tbody>
                {% for optAnswer in Opts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>客观题</td>
                        <td>{{ optAnswer.score }}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>客观题总分：{{ opt_score_total }}</td>
                </tr>
                {#                <tr>#}
                {#                    <td>主观题部分</td>#}
                {#<td></td>#}
                {#                    <td></td>#}
                {#                    <td></td>#}
                {#                </tr>#}
                {% for essAnswer in Esss %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>主观题</td>
                        <td>{{ essAnswer.score }}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>主观题总分：{{ ess_score_total }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>总计：{{ all_score }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{% static 'js/code.jquery.com_jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>