{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoring</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <style>
        .navbar {
            border-right: 0;
        }

        .bg-info {
            font-size: 18px; /* 调整文字大小 */
            text-align: center; /* 文字居中显示 */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">英语六级报考系统：教师阅卷</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a></a></li>
                <li><a></a></li>

                <li><a href="http://127.0.0.1:8000/teapage/{{ teaid }}/scorepaper/">刷新</a></li>
                <li><a href="http://127.0.0.1:8000/teapage/?teaid={{ teaid }}">返回教师主页</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <br>
                <span>你好，教师{{ teaid }}！</span>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{#<h1>管理员查看试卷</h1>#}
<div class="container" style="width: 84%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="margin-bottom: 10px">试题</h3>
        </div>
        <div class="panel-body">
            {#                ！！！！！这里要加 method="post"#}
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="exam_title">试卷名字：exam1</label>
                </div>
                <div>
                    <p class="bg-info" style="">主观题部分</p>
                </div>
                {% for essA in EssAnswers %}
                    <div class="form-group">
                        <label class="col-sm-1 control-label">主观题&nbsp;{{ forloop.counter }}:</label>
                        <div class="col-sm-11">
                            <p class="form-control-static">{{ essA.essQid.question_text }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">参考答案:</label>

                            <div class="col-sm-11">
                                <p class="form-control-static">{{ essA.essQid.answer_text }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">考生答案:</label>
                        <div class="col-sm-10">
                                <p class="form-control-static">{{ essA.stuAns }}</p>
                        </div>
                    </div>
<div class="form-group">
                        <label class="col-sm-1 control-label">教师评分</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="学生本题得分，示例：9" name="Q{{ forloop.counter }}score">
                        </div>
                    </div>
                    <hr>
                {% endfor %}

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-10">
                        <button type="submit" class="btn btn-primary" value="finishScore">阅卷完成，返回主页</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


</body>
</html>