{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Info</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <style>
        .navbar{
            border-right: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">阅卷教师信息管理</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li>
              <form class="navbar-form navbar-left" action="http://127.0.0.1:4537/teainfo/search/" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="输入教师姓名" name="searchname">
        </div>
        <button type="submit" class="btn btn-default" href="http://127.0.0.1:4537/teainfo/search/">确定</button>
      </form>
          </li>
        <li><a href="http://127.0.0.1:4537/teainfo/">刷新</a></li>
          <li><a href="http://127.0.0.1:4537/adminpage/">返回管理员主页</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">你好，管理员！</a></li>
{#        <li>#}
{#            <a href="http://127.0.0.1:4537/teainfo/">教师信息管理</a>#}
{#        </li>#}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
    <div class="container">
        <div style="margin-bottom: 20px">
            <a class="btn btn-success" href="http://localhost:4537/teainfo/add/">添加教师</a>
        </div>

        <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">英语六级考试阅卷教师信息</div>
{#      <div class="panel-body">#}
{##}
{#        #}
{#        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>#}
{#      </div>#}

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>序号</th>
            <th>教师姓名</th>
            <th>工号</th>
              <th>学校</th>
            <th>登录密码</th>
              <th>操作</th>
          </tr>
        </thead>
        <tbody>
            {% for tea_obj in tea_list %}
                <tr>
                <td>{{ tea_obj.id }}</td>
                <td>{{ tea_obj.teaname }}</td>
                <td>{{ tea_obj.teaid }}</td>
                <td>{{ tea_obj.teaschool }}</td>
                <td>{{ tea_obj.password }}</td>
                <td>
                  <a class="btn btn-primary btn-xs" href="http://127.0.0.1:4537/teainfo/{{ tea_obj.id }}/edit/" >编辑</a>

                  <a class="btn btn-danger btn-xs" href="http://127.0.0.1:4537/teainfo/delete/?teaid={{ tea_obj.id }}">删除</a>
              </td>
                </tr>
            {% endfor %}

        </tbody>
      </table>
    </div>

</div>

    </div>
</div>

<script src="{% static 'js/code.jquery.com_jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>