{% load  static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
<h1> 用户添加</h1>
<input type="test" class="btn btn-primary" value="新建">
<img src="{% static 'img/wallpaper02.png' %}" alt="" width="30%">

<script src="{% static 'js/code.jquery.com_jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>

</body>
</html>