{% load  static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER ADD</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
<h1> 用户添加</h1>
<form method="post" action="/user/add/">
    {% csrf_token %}
    <input type="text" name="studentname" placeholder="studentname">
    <input type="text" name="studentid" placeholder="student id">
    <input type="text" name="pwd" placeholder="password">
{#    <input type="text" name="score" placeholder="score">#}
    <input type="submit" value="submit">
</form>

{#<img src="{% static 'img/wallpaper02.png' %}" alt="" width="30%">#}

<script src="{% static 'js/code.jquery.com_jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>

</body>
</html>