<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Info</title>
</head>
<body>
<h1>Student List</h1>
<table border="1" >
    <thead>
        <tr>
            <th>index id</th>
            <th>name</th>
            <th>ID card</th>
            <th>password</th>
            <th>score</th>
        </tr>
    </thead>
    <tbody>

        {% for stu in stu_list %}
            <tr>
            <td>{{ stu.id }}</td>
            <td>{{ stu.username }}</td>
            <td>{{ stu.stuid }}</td>
            <td>{{ stu.password }}</td>
            <td>{{ stu.score }}</td>
            <td>
                <a href="http://127.0.0.1:8000/user/delete/?stuid={{ stu.id }}"> delete </a>
            </td>
            </tr>
        {% endfor %}

    </tbody>
</table>

<a href="http://localhost:8000/user/add"> 添加学生信息 </a>


</body>
</html>